<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <slider>
            <general>
                <enabled>0</enabled>
            </general>
            <settings>
                <jquery>offline</jquery>
                <transitionMode>fade</transitionMode>
                <transitionSpeed>500</transitionSpeed>
                <captions>true</captions>
                <controls>true</controls>
                <autoControls>false</autoControls>
                <autoControlsCombine>false</autoControlsCombine>
                <auto>true</auto>
                <autoStart>true</autoStart>
            </settings>
            <resize_image>
                <enable>false</enable>
                <width>1200</width>
                <height>500</height>
                <keepAspectRatio>false</keepAspectRatio>
            </resize_image>
        </slider>
    </default>
</config>