<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <slider>
            <general>
                <enabled>0</enabled>
                <cron_expression>1 2 6 3 8</cron_expression>
            </general>
            <settings>
                <jquery>offline</jquery>
                <transitionMode>fade</transitionMode>
                <transitionSpeed>500</transitionSpeed>
                <captions>true</captions>
                <controls>true</controls>
                <autoControls>false</autoControls>
                <autoControlsCombine>false</autoControlsCombine>
                <auto>true</auto>
                <autoStart>true</autoStart>
            </settings>
            <cron>
                <cron_expression>1 2 6 3 8</cron_expression>
            </cron>
        </slider>
    </default>
</config>