<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="slider" translate="label" sortOrder="200">
            <label>NG Slider</label>
        </tab>
        <section id="slider" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Slider</label>
            <tab>slider</tab>
            <resource>NG_Slider::slider</resource>
            <group id="general" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Setting</label>
                <field id="enabled" translate="label" type="select" showInDefault="1" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="settings" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider Settings</label>
                <field id="transitionMode" translate="label" type="select" showInDefault="1" canRestore="1">
                    <label>Transition Mode</label>
                    <source_model>NG\Slider\Model\Config\Mode</source_model>
                    <comment>Type of transition between slides</comment>
                </field>
                <field id="transitionSpeed" translate="label" type="text" showInDefault="1" canRestore="1">
                    <label>Transition speed</label>
                    <comment>enter values in millisecond (e.g 500,600,700.....)</comment>
                </field>
                <field id="captions" translate="label" type="select" showInDefault="1" canRestore="1">
                    <label>Enable Captions</label>
                    <source_model>NG\Slider\Model\Config\Options</source_model>
                    <comment>if true: Slide description display in captions</comment>
                </field>
                <field id="controls" translate="label" type="select" showInDefault="1" canRestore="1">
                    <label>Navigation Controls</label>
                    <source_model>NG\Slider\Model\Config\Options</source_model>
                    <comment>to display "Next" - "Prev" controls.</comment>
                </field>
                <field id="autoControls" translate="label" type="select" showInDefault="1" canRestore="1">
                    <label>Auto Controls(Start/Stop)</label>
                    <source_model>NG\Slider\Model\Config\Options</source_model>
                    <comment>to display "Start" - "Stop" controls.</comment>
                </field>
                <field id="autoControlsCombine" translate="label" type="select" showInDefault="1" canRestore="1">
                    <label>Auto Controls Combine(Start/Stop)</label>
                    <source_model>NG\Slider\Model\Config\Options</source_model>
                    <comment>to combine "Start" - "Stop" controls. only if autocontrols is true</comment>
                </field>
                <field id="auto" translate="label" type="select" showInDefault="1" canRestore="1">
                    <label>Auto Transition Start(Slide)</label>
                    <source_model>NG\Slider\Model\Config\Options</source_model>
                    <comment>Slides will automatically transition</comment>
                </field>
                <field id="autoStart" translate="label" type="select" showInDefault="1" canRestore="1">
                    <label>AutoStart Slide Playing</label>
                    <source_model>NG\Slider\Model\Config\Options</source_model>
                    <comment> If false, slideshow will start when the "Start" control is clicked</comment>
                </field>
            </group>
            <group id="resize_image" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Resize Image</label>
                <field id="enable" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Image Resize Enable</label>
                    <source_model>NG\Slider\Model\Config\Options</source_model>
                    <comment>if true: Slide Images will resize while slider loading in below Height/Width</comment>
                </field>
                <field id="width" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Resize Width</label>
                    <comment>Expected slide width(in px)</comment>
                </field>
                <field id="height" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Resize Height</label>
                    <comment>Expected slide height(in px)</comment>
                </field>
            </group>
        </section>
    </system>
</config>